@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-black: #060606;
    --font-hanken-grotesk: "Hanken Grotesk", "sans-serif";
    --text-2xs: 0.625rem; /* 10px */
}